
extends ../layout/main
block variable
  -
    var title_page = 'home'
    var id_page = 'flat-page'
    var class_page = 'home'
    var breadcrumbsBtn = 'filter'
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ];
    var screens = [
      { title: 'Концепція', img: './assets/images/home/ms-1.jpg', sub: 'CENTOWER - це не просто будинок. Це центральний будинок з глибокою концепцією. ',},
      { title: 'Архітектура    ', img: './assets/images/home/ms-2.jpg', sub: 'CENTOWER виконаний у сучасному європейському стилі, та дуже коректно вписується в архітектуру цього району.',},
      { title: 'Локація', img: './assets/images/home/ms-3.jpg', sub: 'CENTOWER знаходиться в самому центрі Дніпра, на проспекті Дмитра Яворницького, 43.',},
      { title: 'Філософія', img: './assets/images/home/ms-4.jpg', sub: 'Даємо доступ до усього найкращого у місті на відстані витягнутої руки.',},
      { title: 'Характеристики', img: './assets/images/home/ms-5.jpg',sub: `
        <ul class="ms-list">
          <li>
            <span>13</span> поверхів
          </li>
          <li>
            <span>7</span> ліфтів
          </li>
          <li>
            <span>103</span> квартири
          </li>
          <li>
            <span>110</span> паркомісць
          </li>
        </ul>
      `,},
    ];


block meta
  title= 'Главная'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/menu.js')
  script(defer src='./assets/scripts/home.js')
block content
    .ms-navigation
      each val, i in screens
        <svg  width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="25" cy="25" r="2" fill="#D2D2D2"/>
          <circle data-circle cx="25" cy="25" r="24.25" stroke="#D5B084" stroke-width="1.5"/>
          </svg>
      <svg data-ms-next-slide width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M-1.40816e-08 0.322149L0.277778 1.21589e-08L7.00146 4.65576L13.7222 6.00651e-07L14 0.32215L7.11111 8L6.83333 8L-1.40816e-08 0.322149Z" fill="#FAFAFA"/>
      </svg>
    .ms-slider-overlay 
      each val, i in screens
        .ms-slide
          picture
            source(srcset=val.img media="(max-width: 575px)")
            source(srcset=val.img media="(max-width: 768px)")
            source(srcset=val.img.replace('.jpg', '@2x.jpg')  media="(max-width: 1680px)")
            source(srcset=val.img.replace('.jpg', '@3x.jpg')  media="(min-width: 1680px)")
            img(src=val.img alt="MDN" data-screen1-paralax)
            </picture>
          //- img(src=val.img)
          .ms-slide-text-wrap
            .page-title.ms-title #{val.title}
            .ms-delimiter
            .ms-subtitle !{val.sub}
            +a4('Дізнатися більше', '#') 
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
